@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
}

.processing-text-video {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
}

.light-mode {
  background-color: "#F5FFFA";
  color: #071b2f;
}

.dark-mode {
  background-color: #071b2f;
  color: whitesmoke;
}

.merge-container {
  width: 30%;
}

.merge-label {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.merge-file-input {
  margin-left: 4em;
  margin-top: 0.8em;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.original-video-seconds-container,
.trimmed-video-seconds-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.original-video-seconds-container .title,
.trimmed-video-seconds-container .title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.7em;
}

.original-video-seconds-container .time,
.trimmed-video-seconds-container .time {
  color: red;
}

.calculate-trim-seconds {
  margin-left: 1em;
  color: limegreen;
  font-weight: bold;
}

.animate-settings {
  color: inherit;
  animation: animate-icon 1s 0.5s infinite ease-out;
}

@keyframes animate-icon {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.icons-fade {
  animation: fadeIn 2s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 650px) {
  .merge-container {
    width: 95%;
  }

  .merge-file-input {
    margin-left: 3em;
  }

  .original-video-seconds-container .title,
  .trimmed-video-seconds-container .title {
    font-size: 1rem;
  }

  .trimmed-video-seconds-container .time {
    display: none;
  }

  .trimmed-video-seconds-container {
    justify-content: center;
  }
}
